/*---------------------------------------------- */

/* Generic Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul, li, button, a {
    font-family: Arial, sans-serif;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: black;
    color: #fff;
}


/*---------------------------------------------- */

button, #submitBtn {
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 15px;
    transition: background-color 1s;
}

button:hover, #submitBtn:hover {
    background-color: #555;
}

header {
    align-items: center;
    background-color: white;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
}

/*---------------------------------------------- */

/* Apply movement to elements */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes moveAround {
    0% { top: 30%; left: 20%; }
    25% { top: 10%; left: 80%; }
    50% { top: 60%; left: 70%; }
    75% { top: 50%; left: 10%; }
    100% { top: 30%; left: 20%; }
}

@keyframes shake {
    0%, 100% { transform: translate(-50%, -50%) translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-50%, -50%) translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translate(-50%, -50%) translateX(10px); }
}

@keyframes colorTic {
    0% {
        color: rgba(255, 255, 255, 0.5); 
        padding: 5px 5px;
    }
    100% {
        color: rgba(0, 0, 0, 0.5);
        padding: 5px 5px;
    }
}

/*---------------------------------------------- */

/* My Page Title */
#fishTank {
    flex-grow: 2;
    border: none;
    color: white;
    margin-left: 20px;
    height: 30px;
    cursor: pointer;
    transition: color 1s;
    font-size: 24px;
    font-weight: bold;
    animation: colorTic 1s infinite alternate;
    display: flex;
}

#fishTank:hover {
    animation-play-state: paused;
    color: black; 
    font-weight: bold; 
}
/*---------------------------------------------- */

#image-container {
    height: 80px;
    width: 100px;
    right: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow: hidden;
}

.stacked-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
}

.centerContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1000; 
}

/*---------------------------------------------- */

nav {
    display: flex;
    justify-content: flex-end; 
}

nav .nav-buttons:first-child button {
    margin-left: 5px;
    margin-right: 5px;
    width: 80px;
    height: 30px;
}

nav .nav-buttons:last-child button {
    margin-left: 5px;
    margin-right: 5px;
    width: 120px;
    height: 40px;
}


nav .nav-buttons:first-child button.small-btn {
    width: 80px;
    height: 30px;
    font-size: 12px;
    padding: 0;
}

nav .nav-buttons:first-child {
    margin-left: auto;
    white-space: nowrap;
}



/*---------------------------------------------- */

.Container-Footer {
    clear: both;
    margin-top: 20px;
    background-color: white;
}

.Element-Effects a {
    text-decoration: none;
    display: inline-block;
    background-color: transparent; 
}

.Container-Footer .Element-Effects {
    display: flex; 
    justify-content: space-between;
}

.Container-Footer .Element-Effects a {
    color: white; 
    margin-right: 10px;
    padding: 10px;
    transition: background-color 0.3s;
}

.Container-Footer .Element-Effects a:hover {
    background-color: #333; 
}

main {
    background: radial-gradient(circle, rgba(255,0,0,0.8), rgba(0,255,0,0.8), rgba(0,0,255,0.8));
    position: relative;
}

footer {
    background-color: black;
    color: white;
    padding: 30px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}


footer > * {
    transition: transform 0.3s ease-in-out;
}


footer:hover > * {
    transform: translateX(-30px);
}

.footer-logo {
    display: block; 
    width: 40px; /
    height: auto; 
    margin-right: 10px; 
    background-color: transparent; 
    border: none; 
}

.Element-Effects a:last-child .footer-logo {
    margin-right: 0; 
}

/*---------------------------------------------- */

#staticImage {
    display: block;
    margin: 0 auto;
    max-height: 100vh;
    width: auto;
}

#staticImageContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden; 
}

#staticImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

#staticImageContainer::before,
#staticImageContainer::after {
    content: "";
    position: absolute;
    top: 0;
    width: 10%; 
    height: 100%;
    background: inherit;
    z-index: 1; 
    pointer-events: none; 
    backdrop-filter: blur(8px); 
}

#staticImageContainer::before {
    left: 0;
    transform: scaleX(-1); 
}

#staticImageContainer::after {
    right: 0;
}

/*---------------------------------------------- */

.indexCenterText {
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    z-index: 2; 
    color: white;
    background-color: rgba(64, 64, 64, 0.7); 
    padding: 30px;
    border-radius: 5px;
    font-weight: bold;
    animation: moveAround 10s infinite;
}

.indexCenterText:hover {
    transform: scale(1.5); 
    background: rgba(255, 255, 255, 0.388); 
}

#loginFormContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px 15px;
    z-index: 10;
}

#prevArrow {
    left: 0;
}

#nextArrow {
    right: 0;
}

/*---------------------------------------------- */

.shake {
    animation: shake 0.5s;
}

.blurry-transition {
    filter: blur(10px);
    transition: filter 3s ease-out;
}

#dynamicBackgroundPicture {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    object-fit: cover;
}

.home-page .dynamicBackgroundPicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    overflow: hidden;
}

.home-page .dynamicBackgroundPicture:first-child {
    display: block;
}

#coverOneContainer img,
#coverTwoContainer img,
#coverThreeContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#coverOneContainer,
#coverTwoContainer,
#coverThreeContainer {
    position: absolute;
    width: 20%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.home-page #coverOneContainer {
    left: 5%;
    top: 35%; 
}

.home-page #coverTwoContainer {
    right: 5%;
    top: 35%; 
}

.home-page #coverThreeContainer {
    left: 40%;
    top: 35%; 
}

/*------------------------------------------------------- */
