/* styles-store.css */

body {
    margin: 0;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}


header {
    height: 250px;
    background-image: url('https://via.placeholder.com/150');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
}

div > input[type="text"],
div > button {
    margin: 10px 0;
}


.container-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
}


.container {
    flex-basis: calc(50% - 20px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    background: #ffffff; 
    padding: 10px; 
}


@media screen and (min-width: 768px) {
    .container {
        flex-basis: calc(33.333% - 20px); 
    }
}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px; 
}
